html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Times New Roman", serif;
}

#dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden; /* prevents whole-page scrolling */
}

#sidebar {
  width: 320px;
  padding: 20px;
  background: #ffffff;
  border-right: 1px solid #003049;
  box-sizing: border-box;

  overflow-y: auto; /* <-- sidebar scrolls */
}

.hover-tooltip {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #003049;
  color: #000000;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 6px;
}

.leaflet-interactive {
  outline: none;
}

#map {
  flex: 1;
  height: 100vh; /* keeps map locked */
}

#sidebar h2 {
  margin-top: 10%;
}

.sidebar-button {
  font-family: "Times New Roman", serif;
  font-size: 12px;
  padding: 6px 6px;
  cursor: pointer;
}

.subtitle {
  color: #003049;
  font-size: 14px;
  margin-bottom: 20px;
}

#county-details {
  margin-top: 20px;
  line-height: 1.6;
}

.info {
  padding: 8px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}